.checkinstru {
	width: 100%;
	position: absolute;
	top: 211%;
	left: 2%;
}

.decscript {
	width: 95%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 10rpx;
	align-items: center;
	font-weight: 600;
	text-align: center;
}

.checkbtn {
	width: 25%;
	position: relative;
	text-align: center;
}

.checkbtn::before {
	content: "";
	width: 20rpx;
	height: 20rpx;
	border: 1px solid black;
	border-left: 0 transparent;
	border-bottom: transparent;
	/* transform: rotate(45deg); */
	transform: translate(0px, 5px) rotate(45deg);
	position: absolute;
	right: 0;
}

.checkCard {
	width: 95%;
	border-radius: 20rpx;
	background-color: #fefefe;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.StoreRemBox {
	padding:10rpx ;
	width: 47%;
	margin-bottom: 20rpx;
}

.stroeDesicBox {
	width: 100%;
}

.stroeDesic {
	height: 320rpx;
	padding: 10rpx;
}

.stroeImg {
	width: 100%;
	height: 240rpx;
}

.stroeImg image {
	width: 100%;
	height: 100%;
}

.storeName {
	margin-top: 10rpx;
	font-weight: 800;

}

.stroeicon {
	display: flex;
	align-items: center;
}

.storeMember {
	margin: 0rpx 10rpx 0 5rpx;
	color: #d57247;
	padding: 0rpx 10rpx 0 10rpx;
	border: 1px solid #d57247;
	border-radius: 40rpx;
	font-weight: 400;
	font-size: 13px;
}

.storePrice {
	margin-top: 30rpx;
	padding: 5rpx;
	box-sizing: border-box;
}

.storeOld_price {
	font-weight: 200;
}

.storeNew_price {
	margin-top: 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.storeOder_btn {
	width: 120rpx;
	height: 50rpx;
	line-height: 50rpx;
	border-radius: 20px;
	background-color: black;
	color: white;
	text-align: center;

}